@media (max-width: 640px) {
  .xs\:p-0 {
    padding: 0 !important;
  }
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.site-checkbox {
  line-height: unset;
}

.site-checkbox + span {
  position: relative;
  top: -2px;
}

.site-checkbox-item {
  margin-bottom: 16px;
}

.ml-auto {
  margin-left: auto;
}